/* 
    Document   : Undecorator
    Created on : Dec 19, 2014
    Author     : In-SideFX
    Description:
        Demo app purpose
*/

/*
    The Stage background.
    Currently a Rectangle node
*/
.decoration-background{
    -fx-fill: rgba(255,255,255,0.9);
    -fx-stroke-width: 0;
    -fx-arc-width:20px;
    -fx-arc-height:20px;
}
/*
    Defines the rectangle responsible for the shadow
*/
.decoration-shadow{
    -fx-fill: black;
    -fx-stroke-width: 0;
    -fx-arc-width:20px;
    -fx-arc-height:20px;
}
/*
 Used to declare the definition of stage resize zone
*/
.decoration-resize{
    -fx-fill:null;  /* avoid mouse events in the middle*/
    -fx-border-color: transparent;
    -fx-border-width: 7;
    -fx-border-insets: 0;
}
/*
    The title bar label
*/
.undecorator-label-titlebar{
    /* -fx-text-fill: #000000; if defined here, so way to override it in external apps*/
}
/*
*	Menu button
*/
.decoration-button-menu{
    -fx-background-radius: 0;
    -fx-border-style: null;
    -fx-background-color: null;
    -fx-background-image:url("./hephaistos.png");
    -fx-background-repeat:no-repeat;
}

.decoration-button-menu:hover{
    -fx-background-color: null;
    -fx-background-image:url("./hephaistos.png");
    -fx-background-repeat:no-repeat;
}
/*
*	Minimize button
*/
.decoration-button-minimize{
    -fx-background-radius: 0;
    -fx-border-style: null;
    -fx-background-color: null;
    -fx-background-image:url("./minimize.png");
    -fx-background-repeat:no-repeat;
}

.decoration-button-minimize:hover{
    -fx-background-color: null;
    -fx-background-image:url("./minimize-hover.png");
    -fx-background-repeat:no-repeat;
}
/*
*	Maximize button
*/
.decoration-button-maximize{
    -fx-background-radius: 0;
    -fx-border-style: null;
    -fx-background-color: null;
    -fx-background-image:url("./maximize.png");
    -fx-background-repeat:no-repeat;
}
.decoration-button-maximize:hover{
    -fx-background-color: null;
    -fx-background-image:url("./maximize-hover.png");
    -fx-background-repeat:no-repeat;
}
.decoration-button-restore{
    -fx-background-radius: 0;
    -fx-border-style: null;
    -fx-background-color: null;
    -fx-background-image:url("./restore.png");
    -fx-background-repeat:no-repeat;
}
.decoration-button-restore:hover{
    -fx-background-color: null;
    -fx-background-image:url("./restore-hover.png");
    -fx-background-repeat:no-repeat;
}
/*
*	Close button
*/
.decoration-button-close{
    -fx-background-radius: 0;
    -fx-border-style: null;
    -fx-background-color: null;
    -fx-background-image:url("./close.png");
    -fx-background-repeat:no-repeat;
}
.decoration-button-close:hover{
    -fx-background-color: null;
    -fx-background-image:url("./close-hover.png");
    -fx-background-repeat:no-repeat;
}
/*
*	Fullscreen button
*/
.decoration-button-fullscreen{
    -fx-background-radius: 0;
    -fx-border-style: null;
    -fx-background-color: null;
    -fx-background-image:url("./fullscreen.png");
    -fx-background-repeat:no-repeat;
}
.decoration-button-fullscreen:hover{
    -fx-background-color: null;
    -fx-background-image:url("./fullscreen-hover.png");
    -fx-background-repeat:no-repeat;
}
.decoration-button-unfullscreen{
    -fx-background-radius: 0;
    -fx-border-style: null;
    -fx-background-color: null;
    -fx-background-image:url("./unfullscreen.png");
    -fx-background-repeat:no-repeat;
}
.decoration-button-unfullscreen:hover{
    -fx-background-color: null;
    -fx-background-image:url("./unfullscreen-hover.png");
    -fx-background-repeat:no-repeat;
}
/*
*	Resize button
*/
.decoration-button-resize{
    -fx-background-radius: 0;
    -fx-border-style: null;
    -fx-background-color: null;
    -fx-background-image:url("./resizeSE.png");
    -fx-background-repeat:no-repeat;
}