/*.content {
    -fx-background-image: url("../../images/background.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    }

    .content > .viewport{
        -fx-background-image: url("../../images/background.png");
        -fx-background-size: cover;
        -fx-background-repeat: no-repeat;
        }*/